.teamMember {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 70px;
}

.teamMember .subHeading {
  font-family: var( --special-heading-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--color-sub-heading);
}

.teamMember .heading {
  font-family: var(--default-font);
  font-size: 30px;
  font-weight: 800;
  line-height: 10px;
  text-align: center;
  color: var(--color-heading);
}

.section4 .farmers {
  padding: 0px 140px;
}
