
 .card {
  width: 100%;
  height: 350px !important;
  gap: 0px;
  border-radius: 10px !important;
  opacity: 0px;
  box-shadow: 0px 2px 14px 0px #0000000D;

}

.card img {
  object-fit: cover;
  width: 100%;
  height: 55%;
}

.card .date p {
  width: 100.09px;
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-greenish);
  color: var(--color-primary);
  margin-left: 68px;
  margin-top: -30px;
}

.author .authorName {
  display: flex;
  flex-direction: row;
}

.card .author {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.card .faComments {
  color: var(--color-sub-heading);
  font-size: 11px;
  padding-right: 7px;
}

.author .authorName p {
  font-family: var(--default-font);
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  color: var(--color-paragraph);
}

.author .comment {
  display: flex;
  flex-direction: row;
}

 .card .author .comment i {
  color: var(--color-sub-heading);
  font-size: 11px;
  padding-right: 7px;
}

.author .comment p {
  font-family: var(--default-font);
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;

  color: var(--color-paragraph);
}
 .card .paragraph {
  display: flex;
  justify-content: center;
  margin-top: -7px
}

.card .paragraph p {
  width: 139px;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
  color: var(--color-heading);
}