.sectionSix {
  background-color: var(--categories-bgcolor);
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 140px !important;
}

.ourTestimonial .subHeading {
  font-family: var( --special-heading-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;

  color: var(--color-sub-heading);

}

.ourTestimonial .heading {
  font-family: var(--default-font);
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  color: var(--color-heading);
  width: 90%;
  padding-bottom: 12px;

}

.ourTestimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: start;
}


.sectionSix .paragraph p {
  font-family: var(--default-font);
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #878680;
  width: 74%;
}

.sectionSixBtn {
  margin-top: 15px;
}

.testimonialBtn {
  padding: 14px 35px 14px 35px !important;
  border-radius: 5px  !important;

  background: var(--color-btn)  !important;

  font-family: var(--default-font)  !important;
  font-size: 11px !important ;
  font-weight: 700  !important;
  line-height: 10px  !important;
  text-align: left  !important;
  color: var(--color-primary)  !important;
  border: none  !important;

}

 .blogBody {
  padding: 10px 0px 10px 0px !important;
}

.testimonial .content {
  padding: 0px 0px 91px 0px;
  border-radius: 10px;

}

.testimonial .content p {
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #878680;
}

.testimonial .content h5 {
  font-family: var(--default-font);
  font-size: 13px;
  font-weight: 800;
  line-height: 10px;
  text-align: left;
  color: var(--color-heading);
}


.testimonial .content img {
  width: 80px;
  height: auto;
}

.testimonial .content .imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .content .star {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: end;
  color: var(--color-sub-heading);
}

.testimonial .content .star i {
  font-size: 11px;
}